{% extends "base.html" %}
{% block content %}
<b>{{pokemon['name'] | title}} Info</b>
<p>Height: {{pokemon['height']}}</p>
<p>Weight: {{pokemon['height']}}</p>
<p>Base Experience: {{pokemon['base_exp']}}</p>
<h5>Moves</h5>
<ul>
  {% for i in range(0, pokemon_moves_length) %}
    <li>{{pokemon['moves'][i]}}</li>
  {% endfor %}
</ul>
<h5>Abilities</h5>
<ul>
  {% for i in range(0, pokemon_abilities_length) %}
    <a href="{{url_for('pokemon_with_ability', ability=pokemon['abilities'][i])}}"><li>{{pokemon['abilities'][i]}}</li></a>
  {% endfor %}
</ul>
{% endblock %}
